@page "/"

<div class="animate__animated animate__fadeIn">
    <MudContainer Style="margin-top: 20px">

        <div style="display: flex; align-items: center; justify-content: center;">
            <MudIcon Color="Color.Primary" Icon="fa-solid fa-hand-peace fa-shake" Style="margin: 10px;" Size="Size.Large" />
            <MudText Typo="Typo.h2" Align="Align.Center" Color="Color.Primary">Bienvenid@@ a Apipedia</MudText>
        </div>

        <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Secondary">Recopilación de terminos, definiciones y conceptos del mundo Api en Español</MudText>

        <MudText Style="margin-top: 130px;" Typo="Typo.h5" Align="Align.Center" Color="Color.Tertiary">Sponsors</MudText>
        <div style="display: flex; justify-content: center; align-items: center;">
            
            <MudImage Src="imgs/apiaddicts_logo.png" Width="200" Fluid="true" Style="filter: drop-shadow(0.5px 0.5px 0.5px white);" />
            <MudImage Src="imgs/cloudappi_logo.png" Width="100" Fluid="true" Style="filter: drop-shadow(0.5px 0.5px 0.5px white);" />
        </div>
    </MudContainer>
</div>