@page "/"

<div class="animate__animated animate__fadeIn">
    <MudContainer Style="margin-top: 20px">
        <MudText Typo="Typo.h2" Align="Align.Center" Color="Color.Primary" >Bienvenido a Apipedia</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center" Color="Color.Secondary">Recopilación de terminos, definiciones y conceptos del mundo Api</MudText>

        <MudText Style="margin-top: 130px;" Typo="Typo.h3" Align="Align.Center" Color="Color.Tertiary">Sponsors</MudText>
        <div style="display: flex; justify-content: center; align-items: center;">
            
            <MudImage Src="imgs/apiaddicts_logo.png" Width="300" Fluid="true" Style="filter: drop-shadow(0.5px 0.5px 0.5px white);" />
            <MudImage Src="imgs/cloudappi_logo.png" Width="200" Fluid="true" Style="filter: drop-shadow(0.5px 0.5px 0.5px white);" />
        </div>
    </MudContainer>
</div>