@page "/"

<div class="animate__animated animate__fadeIn">
    <MudContainer>

        <div style="display: flex; align-items: center; justify-content: center;">
            <MudIcon Color="Color.Primary" Icon="fa-solid fa-hand-point-up fa-bounce" Style="font-size: 4vw; margin: 10px;" Size="Size.Large" />
            <MudText Style="font-size: 5vw;" Typo="Typo.h2" Align="Align.Center" Color="Color.Primary">Bienvenid@@</MudText>
            <MudText Style="font-size: 5vw;" Typo="Typo.h2" Align="Align.Center" Color="Color.Secondary">&nbsp;a&nbsp;</MudText>
            <MudText Style="font-size: 5vw;" Color="Color.Inherit" Typo="Typo.h2">{</MudText>
            <MudText Style="font-size: 5vw;" Color="Color.Primary" Typo="Typo.h2">API</MudText>
            <MudText Style="font-size: 5vw;" Color="Color.Secondary" Typo="Typo.h2">pedia</MudText>
            <MudText Style="font-size: 5vw;" Color="Color.Inherit" Typo="Typo.h2">}</MudText>
        </div>

        <MudText Typo="Typo.h4" Style="margin-top: 0% 2%;" Align="Align.Center" Color="Color.Secondary">Guía colaborativa que recopila en español términos, definiciones y conceptos del fascinante mundo de las APIs.</MudText>


        <div style="display: flex; align-items: center; justify-content: center; margin-top: 5%;">
            <MudPaper Style="background-color: transparent" Width="100%" Elevation="0">
                <MudList Clickable="true">
                    <MudDivider />
                    <MudListItem Href="https://github.com/apiaddicts/apipedia" Text="Colabora con nosotr@s para enriquecer las definiciones." Icon="fa-brands fa-github-alt" />
                    <MudDivider />
                    <MudListItem Text="Busca o escanea el QR para llegar a la palabra" Icon="fa-solid fa-qrcode" />
                    <MudDivider />
                </MudList>
            </MudPaper>
        </div>


        <div style="display: flex; align-items: center; justify-content: center; margin-top: 12%;">
            <MudChip Size="Size.Large" Icon="fa-solid fa-person-digging fa-fade" Color="Color.Warning">Construyendo</MudChip>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;">
            
            <img src="imgs/apiaddicts_logo.png" Style="width: 20%;filter: drop-shadow(0.5px 0.5px 0.5px white);" />
            <img src="imgs/cloudappi_logo.png" Style="width: 20%;filter: drop-shadow(0.5px 0.5px 0.5px white);" />
        </div>
    </MudContainer>
</div>