@page "/"

<div class="animate__animated animate__fadeIn">
    <MudContainer>

        <div style="display: flex; align-items: center; justify-content: center;">
            <MudIcon Color="Color.Primary" Icon="fa-solid fa-hand-peace fa-shake" Style="margin: 10px;" Size="Size.Large" />
            <MudText Typo="Typo.h2" Align="Align.Center" Color="Color.Primary">Bienvenid@@ a Apipedia</MudText>
        </div>

        <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Secondary">Guía colaborativa que Recopila en español terminos, definiciones y conceptos del fascinante mundo de las APIs.</MudText>


        <div style="display: flex; align-items: center; justify-content: center;">
            <MudChip Size="Size.Large" Style="margin-top: 30%;" Icon="fa-solid fa-person-digging fa-beat" Color="Color.Warning">En Construcción</MudChip>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;">
            
            <MudImage Src="imgs/apiaddicts_logo.png" Width="300" Fluid="true" Style="filter: drop-shadow(0.5px 0.5px 0.5px white);" />
            <MudImage Src="imgs/cloudappi_logo.png" Width="200" Fluid="true" Style="filter: drop-shadow(0.5px 0.5px 0.5px white);" />
        </div>
    </MudContainer>
</div>